html, body {

    height: 100%;
    margin: 0;
    padding: 0;
}


/*      ----    BODY    ----       */

body {
    height: 85vh;
    width: 100%;
    display: grid;
    /* background-color: antiquewhite; */
    grid-template-areas:
		"header     header      header"
		"left-open  main        right-open   "
		"footer     footer      footer";
    margin: auto;   
    box-sizing: border-box;
}


/*      ----   HEADER   ----        */ 

header {
    /* background-color: aquamarine; */
    grid-area: header;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 2vh; 
    margin-right: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.gggg-char-logo {
    height: 5vh;
    width: 12vw;
}

.gggg-char-logo-footer {
    width: 5vw;
}

.kor-index-selecter, .eng-index-selecter {
    margin: 0;
    display: block;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    
}

.kor-index-item, .eng-index-item{
    display: inline-flex;
    align-items: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.kor-index-item > img {
    height: 3.5vh;

}

.eng-index-item > img {
    height: 3.5vh;

}

.kor-index-toggle {
    width: 12vw;
    height: 100%;
    display: flex;

}

.eng-index-toggle {
    width: 5vw;
    height: 100%;
    display: flex;
    margin-bottom: 1vh;
}

.kor-index-toggle > img{
    height: 100%;
    margin-left: auto;
}

.eng-index-toggle > img{
    height: 100%;
    margin-left: auto;
}



/*      ---- MAIN + BRACKET ----    */ 

.left-open {
    grid-area: left-open;
    justify-self: end;
}

.b-L {
    height: 83vh;
    margin: 1vh;

}


.right-open {
    grid-area: right-open;
    
}

.b-R {
    height: 83vh;
    margin: 1vh;
}

main {
    /* background-color: gray; */
    grid-area: main;
    height: 80vh;

}

.book-wrap {
    display: grid;
    place-items: center;
    grid-template-areas:
		".     logo      logo    ."
		".     portrait  table   ."

}

.book-logo {
    grid-area: logo;
    margin-top: 20vh;
    
}

.book-portrait {
    grid-area: portrait;
    justify-self: end;
    margin-top: 3vh;
    margin-right: 0px;
    margin-left: 5px;
    padding-left: 10px;
    width: 160px;
    height: 205px;
}

.book-table {
    left: 5px;
    grid-area: table;
    justify-self: start;
    margin-top: 3vh;
    width: 160px;
    height: 210px;
    overflow-y: hidden;
    font-size: 12px;
    line-height: 150%;
}

.book-table:hover{
    overflow-y: auto;
}

.book-item-dsc {
    margin-right: 10px;
}

.book-item-stdby {
    opacity: 0.5;
}

.book-item-indicator{
    opacity: 0;
}

.book-item-indicator.hoverd {
    opacity: 1;
}


/*      ----    FOOTER    ----       */ 

footer {
    /* background-color: aquamarine; */
    grid-area: footer;
    height: 5vh;
    margin-top: 1vh;
    margin-left: 2vh; 
    margin-right: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eng-index-selecter {
    margin: 0;
    display: inline-block;
    padding-left: 0;
}