/*      ----    BODY    ----       */

body {
    display: grid;
    /* background-color: antiquewhite; */
    grid-template-areas:
		"header     header      header"
		"left-open  main        right-open   "
		"footer     footer      footer";
}


/*      ----   HEADER   ----        */ 

header {
    /* background-color: aquamarine; */
    grid-area: header;
    height: 6vh;
    margin-top: 3vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

/*      ---- MAIN + BRACKET ----    */ 

.left-open {
    grid-area: left-open;
    justify-self: end;
}


.right-open {
    grid-area: right-open;
}

main {
    /* background-color: gray; */
    grid-area: main;
    height: 75vh;

}
.book-wrap {
    display: grid;
    place-items: center;
    grid-template-areas:
		".     logo      logo    ."
		".     portrait  table   ."

}

.book-logo {
    grid-area: logo;
    margin-top: 20vh;
    
}

.book-portrait {
    grid-area: portrait;
    justify-self: end;
    margin-top: 3vh;
    margin-right: 5px;
    width: 160px;
    height: 205px;
}

.book-table {
    grid-area: table;
    justify-self: start;
    margin-top: 3vh;
    width: 160px;
    height: 210px;
    overflow-y: hidden;
    font-size: 12px;
    line-height: 150%;
}

.book-table:hover{
    overflow-y: auto;
}

.book-item-dsc {
    margin-right: 10px;
}

.book-item-stdby {
    opacity: 0.5;
}

.book-item-indicator{
    opacity: 0;
}

.book-item-indicator.hoverd {
    opacity: 1;
}


/*      ----    FOOTER    ----       */ 

footer {
    /* background-color: aquamarine; */
    grid-area: footer;
    height: 6vh;
}
